<%= render Shared::HeadingComponent.new(text: 'Leaderboard', heading_type: :h1) %>
<div class="flex justify-center items-center">
  <%= render Shared::DateRangeSelector.new(date_range: params[:date_range], url_helper: ->(date_range) { leaderboard_path(date_range: date_range) }) %>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-2 py-3 text-center">Rank</th>
        <th scope="col" class="px-2 py-3">Handle</th>
        <th scope="col" class="px-2 py-3">Impressions</th>
        <th scope="col" class="px-2 py-3">Reposts</th>
        <th scope="col" class="px-2 py-3">Likes</th>
        <th scope="col" class="px-2 py-3">Quotes</th>
        <th scope="col" class="px-2 py-3">Replies</th>
        <th scope="col" class="px-2 py-3">Bookmarks</th>
        <th scope="col" class="px-2 py-3">Followers</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
          <td class="px-2 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
            <% if index == 0 %>
              <span class="text-yellow-500">🥇 <%= index + 1 %></span>
            <% elsif index == 1 %>
              <span class="text-gray-500">🥈 <%= index + 1 %></span>
            <% elsif index == 2 %>
              <span class="text-orange-500">🥉 <%= index + 1 %></span>
            <% else %>
              <%= index + 1 %>
            <% end %>
          </td>
          <td class="px-2 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= render_twitter_image("inline-block h-8 w-8 rounded-full mr-2", user) %>
            <%= link_to user.handle, public_page_path(handle: user.handle), target: '_blank' %>
          </td>
          <td class="px-2 py-4"><%= rounded_number(user.total_impressions) %></td>
          <td class="px-2 py-4"><%= rounded_number(user.total_retweets) %></td>
          <td class="px-2 py-4"><%= rounded_number(user.total_likes) %></td>
          <td class="px-2 py-4"><%= rounded_number(user.total_quotes) %></td>
          <td class="px-2 py-4"><%= rounded_number(user.total_replies) %></td>
          <td class="px-2 py-4"><%= rounded_number(user.total_bookmarks) %></td>
          <td class="px-2 py-4"><%= rounded_number(user.total_followers) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_or_guest_user.guest? %>
<div class="text-center">
  <%= render Shared::ButtonComponent.new(text: "Get Started", url: new_user_registration_path, method: :get) %>
  <p class="mt-4 text-gray-500 dark:text-gray-400">Unsure? <a href="/p/demo" class="text-blue-600 dark:text-blue-400">Check out our demo page</a></p>
</div>
<% end %>
