<h1 class="text-xl text-gray-900 dark:text-gray-300 p-4">User Leaderboard</h1>

<ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
  <li class="mr-2">
    <%= link_to 'Today', leaderboard_users_path(period: 'today'), class: "inline-block p-4 #{params[:period] == 'today' ? 'text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500' : 'rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300'}" %>
  </li>
  <li class="mr-2">
    <%= link_to 'Last 7 Days', leaderboard_users_path(period: '7_days'), class: "inline-block p-4 #{params[:period].nil? || params[:period] == '7_days' ? 'text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500' : 'rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300'}" %>
  </li>
  <li class="mr-2">
    <%= link_to 'Last 28 Days', leaderboard_users_path(period: '28_days'), class: "inline-block p-4 #{params[:period] == '28_days' ? 'text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500' : 'rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300'}" %>
  </li>
  <li class="mr-2">
    <%= link_to 'Last 3 Months', leaderboard_users_path(period: '3_months'), class: "inline-block p-4 #{params[:period] == '3_months' ? 'text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500' : 'rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300'}" %>
  </li>
  <li class="mr-2">
    <%= link_to 'Last 1 Year', leaderboard_users_path(period: '1_year'), class: "inline-block p-4 #{params[:period] == '1_year' ? 'text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500' : 'rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300'}" %>
  </li>
</ul>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-2 py-3 text-center">Rank</th>
        <th scope="col" class="px-2 py-3">Handle</th>
        <th scope="col" class="px-2 py-3">Impressions</th>
        <th scope="col" class="px-2 py-3">Reposts</th>
        <th scope="col" class="px-2 py-3">Likes</th>
        <th scope="col" class="px-2 py-3">Quotes</th>
        <th scope="col" class="px-2 py-3">Replies</th>
        <th scope="col" class="px-2 py-3">Bookmarks</th>
        <th scope="col" class="px-2 py-3">Followers</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
          <td class="px-2 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
            <% if index == 0 %>
              <span class="text-yellow-500">🥇 <%= index + 1 %></span>
            <% elsif index == 1 %>
              <span class="text-gray-500">🥈 <%= index + 1 %></span>
            <% elsif index == 2 %>
              <span class="text-orange-500">🥉 <%= index + 1 %></span>
            <% else %>
              <%= index + 1 %>
            <% end %>
          </td>
          <td class="px-2 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= user.handle %></td>
          <td class="px-2 py-4"><%= number_to_human_readable(user.total_impressions) %></td>
          <td class="px-2 py-4"><%= number_to_human_readable(user.total_retweets) %></td>
          <td class="px-2 py-4"><%= number_to_human_readable(user.total_likes) %></td>
          <td class="px-2 py-4"><%= number_to_human_readable(user.total_quotes) %></td>
          <td class="px-2 py-4"><%= number_to_human_readable(user.total_replies) %></td>
          <td class="px-2 py-4"><%= number_to_human_readable(user.total_bookmarks) %></td>
          <td class="px-2 py-4"><%= number_to_human_readable(user.total_followers) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
