<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen lg:mt-0 dark:bg-gray-900">
  <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white">My Profile &amp; Settings</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :email, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="mb-4">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <% if resource.identity.nil? || resource.identity.provider != 'twitter' %>
        <div class="mb-4">
          <%= f.label :password, "Password <i>(leave blank if you don't want to change it)</i>".html_safe, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white' %>
          <% if @minimum_password_length %>
            <em class="text-sm text-gray-500 dark:text-white">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="mb-4">
          <%= f.label :password_confirmation, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white' %>
        </div>

        <div class="mb-4">
          <%= f.label :current_password, "Current password <i>(we need your current password to confirm your changes)</i>".html_safe, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white' %>
        </div>
      <% else %>
        <div class="mb-4 text-sm font-medium text-gray-900 dark:text-gray-300">
          You signed up through Twitter/X and do not have a password set. Continue to sign in via Twitter.
        </div>
      <% end %>

      <div class="actions mb-4">
        <%= f.submit "Update", class: 'w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800' %>
      </div>
    <% end %>

  </div>
</div>
