<div class="block w-full md:w-1/2 lg:w-1/4 p-2">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white flex items-center">
      <%= @title %>
      <% if @tooltip_target.present? %>
        <span class="ml-1">
          <div data-tooltip-target="<%= @tooltip_target %>">
            <svg class="w-4 h-4 text-gray-400 hover:text-gray-600 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
        </span>
      <% end %>
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400"><%= count_text %></p>
    <% if change_text.present? %>
      <% text_class = change_text.include?('increase') ? 'text-green-600 dark:text-green-400' : 'text-gray-700 dark:text-gray-400' %>
      <p class="font-normal <%= text_class %>"><%= change_text %></p>
    <% end %>
  </div>
</div>
<% if @tooltip_target.present? %>
  <%= render Shared::TooltipComponent.new(id: @tooltip_target, text: @tooltip_text) %>
<% end %>
