<!--

Would the steps be:
Choose subscription: monthly / yearly (small print request trial)
After payment connect twitter
Await email confirming we have enough data or check back later?


Yep 1. is perfect
2. is perfect
3. Do both? Email and a notice to say check back (with an explanation or link to how it works and what to expect).

-->
<div class="flex flex-col items-center">
<% if show_steps_to_complete_message? %>
  <% if ENV.fetch('TRIAL_PERIOD_DAYS', 0).to_i.positive? %>
  <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-green-300" role="alert">
    We are currently offering a 90 day free trial for our early adopters. Subscibe now and pay in 90 days.
  </div>
  <% end %>
  <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
    To start leveraging the full capabilities of Echosight, please complete the steps below:
  </div>
<% end %>

<% if show_subscription_message? %>
  <%= render ContentBoxComponent.new do %>
    <%= render Shared::HeadingComponent.new(text: 'Subscribe', heading_type: :h2) %>
    <p class="paragraph-base">
      Subscribing allows us to collect your Twitter data each day in order to show your aggregated Twitter metrics.
    </p>
    <%= render Shared::ButtonComponent.new(text: "Subscribe", url: subscription_path, method: :get) %>
  <% end %>
<% end %>

<% if show_waiting_message? %>
  <%= render ContentBoxComponent.new do %>
    <%= render Shared::HeadingComponent.new(text: 'When can I see my public page?', heading_type: :h2) %>
    <p class="paragraph-base">Your public page will start to show data after 1 day. It will look it's best after 14 days when we can compare this week to the previous one.</p>
    <p class="paragraph-base">Regardless of this you are welcome to take a look at your <%= link_to "public page", public_page_path(handle: current_user.handle) %> at any time.</p>
    </p>
  <% end %>
<% end %>

<% if show_connect_to_twitter_message? %>
<%= render ContentBoxComponent.new do %>
  <%= render Shared::HeadingComponent.new(text: 'Connect to Twitter/X', heading_type: :h2) %>
    <p class="paragraph-base">To start collecting data from Twitter/X to generate your public page, please connect your Twitter/X account.</p>
    <p>
      <%= button_to helpers.omniauth_authorize_path(:user, :twitter2), data: { turbo: false } do %>
        <button type="submit" class="text-white bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
          Connect to <%= t(:twitter_title) %>
        </button>
      <% end %>
    </p>
<% end %>
<% end %>

<% if show_happy_message? %>
  <%= render ContentBoxComponent.new do %>
    <%= render Shared::HeadingComponent.new(text: 'Welcome to Echosight', heading_type: :h2) %>
    <p class="paragraph-base">You are connected to Twitter/X and we are collecting data from your account to generate your public page. Check out your <%= link_to "public page", public_page_path(current_user.handle) %>.</p>
    <% if false %>
      <% render Shared::HeadingComponent.new(text: 'Next steps', heading_type: :h4) %>
      <p class="paragraph-base">Check out your <%= link_to "public page", public_page_path(current_user.handle) %>.</p>
    <% end %>
  <% end %>
<% end %>
</div>
