<table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr class="h-12">
      <th scope="col" class="p-0 md:table-cell md:p-1">
        <%= sortable_header 'text', 'Post' %>
      </th>
      <th scope="col" class="hidden md:table-cell p-1">
        <%= sortable_header 'impression_count', 'Impressions' %>
      </th>
      <th scope="col" class="hidden md:table-cell p-1">
        <%= sortable_header 'retweet_count', 'Retweets' %>
      </th>
      <th scope="col" class="hidden md:table-cell p-1">
        <%= sortable_header 'quote_count', 'Quotes' %>
      </th>
      <th scope="col" class="hidden md:hidden lg:table-cell p-1">
        <%= sortable_header 'like_count', 'Likes' %>
      </th>
      <th scope="col" class="hidden md:hidden lg:table-cell p-1">
        <%= sortable_header 'reply_count', 'Replies' %>
      </th>
      <th scope="col" class="hidden md:table-cell p-1">
        <%= sortable_header 'engagement_rate_percentage', 'Engagement Rate' %>
      </th>
      <th scope="col" class="md:table-cell p-1">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |tweet| %>
      <% tweet_metric = tweet.tweet_metrics.max_by(&:impression_count) %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="p-0 md:table-cell md:p-1 font-medium text-gray-900 dark:text-white">
          <%= text_with_images(tweet.text) %>
        </td>
        <td class="hidden md:table-cell px-6 py-4">
          <%= rounded_number(tweet_metric&.impression_count) %>
        </td>
        <td class="hidden md:table-cell p-1">
          <%= rounded_number(tweet_metric&.retweet_count) %>
        </td>
        <td class="hidden md:table-cell p-1">
          <%= rounded_number(tweet_metric&.quote_count) %>
        </td>
        <td class="hidden md:hidden lg:table-cell p-1">
          <%= rounded_number(tweet_metric&.like_count) %>
        </td>
        <td class="hidden md:hidden lg:table-cell p-1">
          <%= rounded_number(tweet_metric&.reply_count) %>
        </td>
        <td class="hidden md:table-cell px-6 py-4 relative">
          <div class="engagement-rate-cell">
            <%= number_to_percentage(engagement_rate(tweet), precision: 2) %>
            <!-- ... rest of your engagement rate cell code ... -->
          </div>
        </td>
        <td class="md:table-cell px-6 py-4">
          <a href="https://twitter.com/user/status/<%= tweet.id %>" target="_blank" class="text-blue-600 hover:text-blue-900">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
              <path d="M17 0h-5.768a1 1 0 1 0 0 2h3.354L8.4 8.182A1.003 1.003 0 1 0 9.818 9.6L16 3.414v3.354a1 1 0 0 0 2 0V1a1 1 0 0 0-1-1Z"></path>
              <path d="m14.258 7.985-3.025 3.025A3 3 0 1 1 6.99 6.768l3.026-3.026A3.01 3.01 0 0 1 8.411 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V9.589a3.011 3.011 0 0 1-1.742-1.604Z"></path>
            </svg>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>