<% cache(@cache_key) do %>
  <% content_for :title, "#{@user.handle}'s Public Page" %>

  <%= content_for :profile_container do %>
  <div class="profile-container">
    <div class="flex items-center space-x-3">
        <%= render PrimaryActionButtonComponent.new(user: current_or_guest_user) %>
        <%= render 'shared/dark_mode_toggle_button' %>
    </div>
  </div>
  <% end %>

  <div class="relative">
    <!-- Header Photo -->
    <!-- this is poor refactor later -->
    <% if @user.banner_url.present? %>
      <div style="width: 100%">
        <img class="w-full h-full object-cover shadow-lg top-0 left-0" src="<%= @user.banner_url %>" alt="Twitter/X Header Photo">
      </div>
    <% else %>
      <%= vite_image_tag('images/default-public-page-banner.jpg', class: 'h-48 w-full object-cover shadow-lg', alt: 'Twitter/X Header Photo') %>
    <% end %>
    <!-- Profile Container -->
    <div class="flex items-end justify-between px-4 py-4 -mt-20">
      <!-- Profile Photo and Info -->
      <div class="flex items-center space-x-4">
        <!-- Profile Photo -->
        <%= link_to "https://twitter.com/#{@user.handle}", target: "_blank" do %>
          <% if @user.image_url.present? %>
            <%= image_tag(@user.image_url, alt: @user.handle + " Profile image", class: "min-h-24 min-w-24 h-24 w-24 md:h-28 md:w-28 rounded-full border-4 border-white shadow-lg object-cover") %>
          <% else %>
            <%= vite_image_tag("images/logo.png", class: "min-h-24 min-w-24 h-24 w-24 md:h-28 md:w-28 rounded-full border-4 border-white shadow-lg object-cover") %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="py-2 px-4 rounded-lg">
      <h1 class="text-xl font-bold text-gray-900 dark:text-white"><%= @user.name %></h1>
      <div class="text-xs dark:text-white lg:mb-3">@<%= @user.handle %></div>
      <div class="text-m dark:text-white dark:text-white"><%= html_description_with_links(@user.identity.description) %></div>
    </div>

  </div>

  <div class="flex flex-wrap">
    <!-- Posts -->
    <%- posts_tooltip_text = "This is the total number of tweets you have made in the last #{@public_page_service.tweet_comparison_days} days compared to the previous #{@public_page_service.tweet_comparison_days} days." %>
<%- posts_tooltip_text = posts_tooltip_text + ((@public_page_service.tweet_comparison_days < 7) ? '<br /><br />We will continue to collect data so we can show you a whole week compared to the week before' : '') %>
<%= render Shared::MetricsCardComponent.new(
      title: "Posts",
      count: @public_page_service.tweet_count_over_available_time_period,
      change: @public_page_service.tweets_change_over_available_time_period,
      tooltip_target: "posts-count-tooltip",
      count_text: @public_page_service.tweet_count_over_available_time_period,
      change_text: @public_page_service.tweets_change_over_available_time_period,
      tooltip_text: posts_tooltip_text.html_safe
    ) %>

    <!-- Impressions -->
    <%- impressions_tooltip_text = "This is the total number of impressions your posts have made in the last 7 days compared to the previous 7 days." %>
    <%- impressions_tooltip_text = impressions_tooltip_text + ((@public_page_service.impressions_comparison_days < 7) ? '<br /><br />We will continue to collect data so we can show you a whole week compared to the week before'.html_safe : '') %>
    <%= render Shared::MetricsCardComponent.new(
      title: "Impressions",
      count: @public_page_service.impressions_count,
      change: @public_page_service.impressions_change_since_last_week,
      tooltip_target: "impressions-count-tooltip",
      count_text: @public_page_service.impressions_count,
      change_text: @public_page_service.impressions_change_since_last_week,
      tooltip_text: impressions_tooltip_text
    ) %>


    <!-- Likes -->
    <%- tooltip_text = "This is the total number of likes you've received in the last #{@public_page_service.likes_comparison_days} days. Compared to the previous #{@public_page_service.likes_comparison_days} days." %>
    <%- tooltip_text = tooltip_text + ((@public_page_service.likes_comparison_days < 7) ? '<br /><br />We will continue to collect data so we can show you a whole week compared to the week before'.html_safe : '') %>
    <%= render Shared::MetricsCardComponent.new(
      title: "Likes",
      count: @public_page_service.likes_count,
      change: @public_page_service.likes_change_since_last_week,
      tooltip_target: "likes-count-tooltip",
      count_text: @public_page_service.likes_count,
      change_text: @public_page_service.likes_change_since_last_week,
      tooltip_text: tooltip_text
    ) %>


    <!-- Followers -->
    <%- followers_tooltip_text = "This is the total number of followers you have acquired in the last #{@public_page_service.followers_comparison_days} days compared to the previous #{@public_page_service.followers_comparison_days} days." %>
<%- followers_tooltip_text = followers_tooltip_text + ((@public_page_service.followers_comparison_days < 7) ? '<br /><br />We will continue to collect data so we can show you a whole week compared to the week before'.html_safe : '') %>
<%= render Shared::MetricsCardComponent.new(
      title: "Followers",
      count: @public_page_service.followers_count,
      change: @public_page_service.followers_count_change_percentage_text,
      tooltip_target: "followers-count-tooltip",
      count_text: @public_page_service.followers_count,
      change_text: @public_page_service.followers_count_change_percentage_text,
      tooltip_text: followers_tooltip_text
    ) %>

  <%= render partial:"public_pages/followers_graph", locals: {follower_daily_data_points_for_graph: @public_page_service.follower_daily_data_points_for_graph, maximum_days_of_data: @public_page_service.maximum_days_of_data} %>

  <%= render partial:"public_pages/engagement_rate", locals: {engagement_rate_percentage_per_day: @public_page_service.engagement_rate_percentage_per_day, maximum_days_of_data: @public_page_service.maximum_days_of_data} %>

  <%= render partial:"public_pages/impressions_over_time", locals: {
    impression_daily_data_points_for_graph: @public_page_service.impression_daily_data_points_for_graph, impression_formatted_labels_for_graph: @public_page_service.impression_formatted_labels_for_graph,
    maximum_days_of_data: @public_page_service.maximum_days_of_data,
    first_impressions_message: @public_page_service.first_impressions_message
    }
    %>
  <% #render "public_pages/profile_conversion_rate" %>
  <%= render partial: "public_pages/top_posts", locals: {top_posts: @public_page_service.top_posts, maximum_days_of_data: @public_page_service.maximum_days_of_data} %>

  <% unless current_user %>
  <section class="mt-2 bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 py-8 px-4 sm:px-6 lg:px-8 rounded-xl w-full">
    <div class="w-full mx-auto text-center">
      <h2 class="text-3xl font-extrabold sm:text-4xl">
        Want to Stand Out?
      </h2>
      <p class="mt-4 text-lg leading-6">
        Get your own public page with private dashboard and join the community of Echosight trendsetters.
      </p>
      <div class="mt-8 flex justify-center">
        <div class="inline-flex rounded-md shadow">
          <a href="<%= new_registration_path(:user) %>" class="call-to-action-button call-to-action-button-indigo">
            Join Echosight Now
          </a>
        </div>
      </div>
    </div>
  </section>
  <% end %>
  <% end %>