<% content_for :title, "#{@user.handle}'s Public Page" %>

<%= content_for :profile_container do %>
<div class="profile-container">
  <div class="flex items-center space-x-3">
      <%= render PrimaryActionButtonComponent.new(user: current_or_guest_user) %>

      <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
    </button>
      <div id="tooltip-toggle" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
          Toggle dark mode
          <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
  </div>
</div>
<% end %>

<div class="relative bg-white">
  <!-- Header Photo -->
  <img class="h-48 w-full object-cover shadow-lg" src="<%= @user.banner_url || image_url('demo/loftwah-banner-image.png') %>" alt="Twitter Header Photo">

  <!-- Profile Container -->
  <div class="flex items-end justify-between px-4 py-4 lg:py-8">
    <!-- Profile Photo and Info -->
    <div class="flex items-center space-x-4">
      <!-- Profile Photo -->
      <%= image_tag(@user.image_url, alt: @user.handle + " Profile image", class: "h-24 w-24 rounded-full border-4 border-white shadow-lg") %>

      <!-- Profile Info -->
      <div>
        <h1 class="text-2xl font-bold text-gray-900"><%= @user.name %></h1>
        <p class="text-sm text-gray-500"><%= @user.handle %></p>
      </div>
    </div>

    <!-- Quote Container -->
    <div class="bg-white bg-opacity-80 py-2 px-4 rounded-lg">
      <p class="text-xl font-semibold italic text-gray-900">"Any sufficiently advanced technology is equivalent to magic." - Arthur C. Clarke</p>
    </div>
  </div>
</div>


<div class="flex flex-wrap">
  <!-- Posts -->
  <a href="#" class="block w-full md:w-1/2 lg:w-1/4 p-2">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Posts (last 7 days)</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><%= @tweets_count %></p>
      <p class="font-normal text-green-600 dark:text-green-400"><%= @tweets_change_since_last_week %></p>
    </div>
  </a>

  <!-- Impressions -->
  <a href="#" class="block w-full md:w-1/2 lg:w-1/4 p-2">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Impressions</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><%= @impressions_count %></p>
      <p class="font-normal text-green-600 dark:text-green-400"><%= @impressions_change_since_last_week %></p>
    </div>
  </a>
  <!-- Profile Clicks -->
  <a href="#" class="block w-full md:w-1/2 lg:w-1/4 p-2">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Profile Clicks</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><%= @profile_clicks %></p>
      <p class="font-normal text-green-600 dark:text-green-400"><%= @profile_clicks_change_since_last_week %></p>
    </div>
  </a>
  <!-- Followers -->
  <a href="#" class="block w-full md:w-1/2 lg:w-1/4 p-2">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Followers</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><%= @followers_count %></p>
      <p class="font-normal text-blue-600 dark:text-blue-400"><%= @followers_count_change_percentage_text %></p>
    </div>
  </a>
</div>


<%= render "public_pages/followers_graph" %>
<%= render "public_pages/engagement_rate" %>
<%= render "public_pages/impressions_over_time" %>
<%= render "public_pages/profile_conversion_rate" %>
<%= render "public_pages/posts" %>

<section class="bg-gray-100 text-gray-800 py-8 px-4 sm:px-6 lg:px-8 rounded-xl w-full">
  <div class="w-full mx-auto text-center">
    <h2 class="text-3xl font-extrabold sm:text-4xl">
      Want to Stand Out?
    </h2>
    <p class="mt-4 text-lg leading-6">
      Get your own public page with private dashboard and join the community of Echosight trendsetters.
    </p>
    <div class="mt-8 flex justify-center">
      <div class="inline-flex rounded-md shadow">
        <a href="<%=new_registration_path(:user) %>" class="call-to-action-button call-to-action-button-indigo">
          Join Echosight Now
        </a>
      </div>
    </div>
  </div>
</section>


