<% content_for :title, "#{@user.handle}'s Public Page" %>

<%= content_for :profile_container do %>
<div class="profile-container">
  <div class="flex items-center space-x-3">
      <%= render PrimaryActionButtonComponent.new(user: current_or_guest_user) %>
      <%= render 'shared/dark_mode_toggle_button' %>
  </div>
</div>
<% end %>

<div class="relative">
  <!-- Header Photo -->
  <img class="h-48 w-full object-cover shadow-lg" src="<%= @user.banner_url || image_url('demo/loftwah-banner-image.png') %>" alt="Twitter Header Photo">

  <!-- Profile Container -->
  <div class="flex items-end justify-between px-4 py-4 lg:py-8">
    <!-- Profile Photo and Info -->
    <div class="flex items-center space-x-4">
      <!-- Profile Photo -->
      <%= image_tag(@user.image_url, alt: @user.handle + " Profile image", class: "h-24 w-24 rounded-full border-4 border-white shadow-lg") %>

      <!-- Profile Info -->
      <div>
        <h1 class="text-2xl font-bold text-gray-900 dark:text-white"><%= @user.name %></h1>
        <p class="text-sm text-gray-500 dark:text-white"><%= @user.handle %></p>
      </div>
    </div>

    <!-- Quote Container -->
    <div class="py-2 px-4 rounded-lg">
      <p class="text-xl font-semibold italic text-gray-900 dark:text-white">"Any sufficiently advanced technology is equivalent to magic." - Arthur C. Clarke</p>
    </div>
  </div>
</div>


<div class="flex flex-wrap">
  <!-- Posts -->
  <div class="block w-full md:w-1/2 lg:w-1/4 p-2">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white flex items-center">
        Posts
        <span class="ml-1">
          <div data-tooltip-target="posts-count-tooltip">
            <svg class="w-4 h-4 text-gray-400 hover:text-gray-600 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </div>
        </span>
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><%= @tweet_count_over_available_time_period %></p>
      <p class="font-normal text-green-600 dark:text-green-400"><%= @tweets_change_over_available_time_period %></p>
    </div>
  </div>
  <!-- Impressions -->
  <div class="block w-full md:w-1/2 lg:w-1/4 p-2">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Impressions (should this be the last 7 days currently its all impressions on each tweet we store?)</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><%= @impressions_count %></p>
      <p class="font-normal text-green-600 dark:text-green-400"><%= @impressions_change_since_last_week %></p>
    </div>
  </div>
  <!-- Profile Clicks -->
  <div class="block w-full md:w-1/2 lg:w-1/4 p-2">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Profile Clicks (should this be the last 7 days? dont show more than 28 due to api limits)</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><%= @profile_clicks %></p>
      <p class="font-normal text-green-600 dark:text-green-400"><%= @profile_clicks_change_since_last_week %></p>
    </div>
  </div>
  <!-- Followers -->
  <div class="block w-full md:w-1/2 lg:w-1/4 p-2">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Followers</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400"><%= @followers_count %></p>
      <p class="font-normal text-blue-600 dark:text-blue-400"><%= @followers_count_change_percentage_text %>(this is just comparing to the last date we pulled the total followers count mostly likely yesterday)</p>
    </div>
  </div>
</div>

<div id="posts-count-tooltip" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    This is the total number of tweets you have made in the last 7 days.
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>


<%= render "public_pages/followers_graph" %>
<%= render "public_pages/engagement_rate" %>
<%= render "public_pages/impressions_over_time" %>
<%= render "public_pages/profile_conversion_rate" %>
<%= render "public_pages/posts" %>

<section class="mt-2 bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200 py-8 px-4 sm:px-6 lg:px-8 rounded-xl w-full">
  <div class="w-full mx-auto text-center">
    <h2 class="text-3xl font-extrabold sm:text-4xl">
      Want to Stand Out?
    </h2>
    <p class="mt-4 text-lg leading-6">
      Get your own public page with private dashboard and join the community of Echosight trendsetters.
    </p>
    <div class="mt-8 flex justify-center">
      <div class="inline-flex rounded-md shadow">
        <a href="<%= new_registration_path(:user) %>" class="call-to-action-button call-to-action-button-indigo">
          Join Echosight Now
        </a>
      </div>
    </div>
  </div>
</section>


