<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="<%= root_url %>" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <%= image_tag("logo.gif", height: '32', width: '32') %>
        <span>&nbsp;Echosight</span>
    </a>
    <!-- Card -->
    <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Sign in
        </h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="flex items-start">
              <div class="flex items-center h-5">
              <%= f.check_box :remember_me %>
                </div>
                <div class="ml-3 text-sm">
                <%= f.label :remember_me %>
                </div>
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Lost Password?", new_password_path(resource_name), class: "ml-auto text-sm text-primary-700 hover:underline dark:text-primary-500" %>
                <% end %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Login to your account" %>
          </div>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>

            <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
              Not registered? <%= link_to "Create account", new_registration_path(resource_name), class: "text-primary-700 hover:underline dark:text-primary-500" %>
            </div>
          <% end %>
        <% end %>
    </div>
</div>

<strong>Decide if we want the rest of these for MVP</strong><br />
<%= render "devise/shared/links" %>
