<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Echosight" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
    <%= render 'layouts/dark_mode_toggle' %>
  </head>

  <body class="dark:bg-gray-900">
  <% if notice.present? %>
    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <%= alert %>
    </div>
  <% end %>
  <div class="flex justify-between items-start sticky-top bg-white dark:bg-gray-900">
    <div class="logo-container">
      <a href="<%= root_url %>" class="flex items-center text-2xl font-semibold dark:text-white">
        <%= vite_image_tag("images/logo.png", height: '50', width: '50', alt: "Echosight") %>
        <span class="align-middle">&nbsp;Echosight</span>
      </a>
    </div>
    <% if content_for?(:profile_container) %>
      <%= yield :profile_container %>
    <% else %>
      <div class="profile-container">
        <div class="flex items-center space-x-3">
            <%= render 'shared/dark_mode_toggle_button' %>
        </div>
      </div>
    <% end %>
  </div>
    <%= yield %>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-cb7f3594-7426-4b38-9c68-78f4425abad9" data-elfsight-app-lazy></div>
  </body>
</html>
