<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/analytics' %>
    <title><%= content_for?(:title) ? yield(:title) : "Echosight" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render('shared/meta') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
  </head>
  <%= render 'layouts/dark_mode_toggle' %>

  <body class="dark:bg-gray-900">
    <%= render 'layouts/flash_messages' %>
    <header class="sticky top-0 z-10 bg-white dark:bg-gray-900">
      <div class="flex justify-between pt-3 pb-3 inset-x-0">
        <% if current_or_guest_user.guest? %>
          <a href="<%= root_url %>" class="flex items-center text-2xl font-semibold dark:text-white">
            <%= vite_image_tag("images/logo.png", height: '50', width: '50', alt: "Echosight") %>
            <span class="align-middle">&nbsp;Echosight</span>
          </a>
          <div class="flex items-center space-x-3">
            <%= render(PrimaryActionButtonComponent.new(user: current_or_guest_user, request: request)) %>
            <%= render 'shared/dark_mode_toggle_button' %>
          </div>
        <% else %>
          <%= render Shared::NavBarComponent.new(user: current_or_guest_user, current_admin_user: current_admin_user) %>
        <% end %>
      </div>
    </header>
      <div class="flex overflow-hidden bg-gray-50 dark:bg-gray-900">

    <div id="main-content" class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
      <main>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
      </div>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-cb7f3594-7426-4b38-9c68-78f4425abad9" data-elfsight-app-lazy></div>
  </body>
</html>