<!DOCTYPE html>
<html>
  <head>
    <title>Echosight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>
  <%= render 'layouts/dark_mode_toggle' %>

  <body class="dark:bg-gray-900">
    <%= render Shared::NavBarComponent.new(user: current_or_guest_user) %>
    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

    <div id="main-content" class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
      <%= render 'layouts/flash_messages' %>
      <main>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
      </div>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-cb7f3594-7426-4b38-9c68-78f4425abad9" data-elfsight-app-lazy></div>
  </body>
</html>